.container1{

    border:2px solid gray;
}

.container1 h1{
    padding-top:0px;
}

#total{
    float:right;
}
.container1 button{
    border-radius: 5px;
}
table,tr,td{
   
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
button:hover{
    background-color: #9b43439c
}
.container1 tr:hover {
    background-color: rgb(228, 239, 240);
  }

.amount{
    float:right;   
}